Repository dapr/quickstarts, pull requests merged in 2023-06, with the labels that each got.

#784 Show insights into the Cloud Events in the Pub/Sub tutorial
  tutorials/pub-sub/README.md
Labels: area/pubsub

#869 Tests/config timeout fix
  .github/workflows/validate.yaml
  .github/workflows/validate_go_quickstarts.yaml
  .github/workflows/validate_java_quicstarts.yaml
  .github/workflows/validate_javascript_quicstarts.yaml
  .github/workflows/validate_python_quicstarts.yaml
  configuration/csharp/http/README.md
  configuration/csharp/sdk/README.md
  configuration/python/http/README.md
  configuration/python/sdk/README.md
  go.work
  go.work.sum
Labels: P0

#871 Updating runtime to 1.11.0-rc.7
  .github/env/global.env
Labels: P0

#844 Added header to sample.http
  tutorials/hello-world/README.md
  tutorials/hello-world/node/sample.http
Labels: area/tutorials

#842 Python workflow Quickstart - Order Processor
  workflows/components/state_redis.yaml
  workflows/python/sdk/README.md
  workflows/python/sdk/img/zipkin-trace-wf-order.png
  workflows/python/sdk/makefile
  workflows/python/sdk/order-processor/app.py
  workflows/python/sdk/order-processor/make_json_serializable.py
  workflows/python/sdk/order-processor/model.py
  workflows/python/sdk/order-processor/requirements.txt
  workflows/python/sdk/order-processor/workflow.py
Labels: P1, language/python, area/workflow

#878 Test failure: tutorial: Updating distributed calculator to fix broken…
  tutorials/distributed-calculator/README.md
Labels: area/tutorials
