Repository dapr/quickstarts, pull requests merged in 2024-07, with the labels that each got.

#1051 Fixes Python test failure on Configuration API quickstart
  configuration/python/sdk/README.md
  configuration/python/sdk/order-processor/app.py
Labels: bug, P1, language/python, area/configuration

#1049 Changing Dapr runtime version to 1.13.5 to support test efforts
  .github/env/global.env
Labels: P0, build

#1058 Fix distributed calculator tutorial Go docker build
  tutorials/distributed-calculator/go/Dockerfile
Labels: bug, P0, build, area/tutorials

#1062 Updating dockerfiles used in Tutorial make build (C#,Python,Node,ReactClient)
  .gitignore
  tutorials/distributed-calculator/csharp/Dockerfile
  tutorials/distributed-calculator/node/Dockerfile
  tutorials/distributed-calculator/python/Dockerfile
  tutorials/distributed-calculator/react-calculator/Dockerfile
  tutorials/hello-kubernetes/node/Dockerfile
  tutorials/hello-kubernetes/python/Dockerfile
  tutorials/observability/python/Dockerfile
  tutorials/pub-sub/csharp-subscriber/Dockerfile
  tutorials/pub-sub/node-subscriber/Dockerfile
  tutorials/pub-sub/python-subscriber/Dockerfile
  tutorials/pub-sub/react-form/Dockerfile
Labels: dependencies, P1, build, area/tutorials

#1066 Fixing dockerfile for Tutorial pubsub C# to be truly multi-arch
  tutorials/pub-sub/csharp-subscriber/Dockerfile
Labels: P0, build

#1064 Jobs API Quickstarts
  .github/env/global.env
  README.md
  jobs/go/http/README.md
  jobs/go/http/dapr.yaml
  jobs/go/http/job-scheduler/go.mod
  jobs/go/http/job-scheduler/go.sum
  jobs/go/http/job-scheduler/job-scheduler.go
  jobs/go/http/job-service/go.mod
  jobs/go/http/job-service/go.sum
  jobs/go/http/job-service/job-service.go
  jobs/go/http/makefile
  jobs/go/sdk/README.md
  jobs/go/sdk/dapr.yaml
  jobs/go/sdk/job-scheduler/go.mod
  jobs/go/sdk/job-scheduler/go.sum
  jobs/go/sdk/job-scheduler/job-scheduler.go
  jobs/go/sdk/job-service/go.mod
  jobs/go/sdk/job-service/go.sum
  jobs/go/sdk/job-service/job-service.go
  jobs/go/sdk/makefile
Labels: enhancement, P1, area/jobs

#1072 Hotfix/jobs sdk test in go
  jobs/go/sdk/README.md
Labels: P0, language/golang, area/jobs

#1057 Updating Readme to favor kubectl based deploy vs. multi app run
  .github/workflows/validate_tutorials.yaml
  tutorials/distributed-calculator/go/go.mod
  tutorials/distributed-calculator/go/go.sum
  tutorials/distributed-calculator/node/package-lock.json
  tutorials/distributed-calculator/react-calculator/client/package-lock.json
  tutorials/distributed-calculator/react-calculator/client/yarn.lock
  tutorials/distributed-calculator/react-calculator/package-lock.json
  tutorials/distributed-calculator/react-calculator/yarn.lock
  tutorials/hello-kubernetes/README.md
  tutorials/hello-kubernetes/deploy/redis.yaml
Labels: bug, P1, area/tutorials

#1073 Updating all Dapr.* SDKs to release-1.14 equivalent versions
  actors/csharp/sdk/client/SmartDevice.Client.csproj
  actors/csharp/sdk/interfaces/SmartDevice.Interfaces.csproj
  actors/csharp/sdk/service/SmartDevice.Service.csproj
  bindings/csharp/sdk/batch/batch.csproj
  bindings/javascript/sdk/batch/package-lock.json
  bindings/javascript/sdk/batch/package.json
  bindings/python/sdk/batch/requirements.txt
  configuration/csharp/sdk/order-processor/Program.csproj
  configuration/javascript/sdk/order-processor/package-lock.json
  configuration/javascript/sdk/order-processor/package.json
  configuration/python/sdk/order-processor/requirements.txt
  cryptography/javascript/sdk/crypto-quickstart/package-lock.json
  cryptography/javascript/sdk/crypto-quickstart/package.json
  pub_sub/csharp/sdk/checkout/checkout.csproj
  pub_sub/csharp/sdk/order-processor/order-processor.csproj
  pub_sub/javascript/sdk/checkout/package-lock.json
  pub_sub/javascript/sdk/checkout/package.json
  pub_sub/javascript/sdk/order-processor/package-lock.json
  pub_sub/javascript/sdk/order-processor/package.json
  pub_sub/python/sdk/checkout/requirements.txt
  pub_sub/python/sdk/order-processor/requirements.txt
  secrets_management/csharp/sdk/order-processor/Program.csproj
  secrets_management/javascript/sdk/order-processor/package-lock.json
  secrets_management/javascript/sdk/order-processor/package.json
  secrets_management/python/sdk/order-processor/requirements.txt
  state_management/csharp/sdk/order-processor/Program.csproj
  state_management/javascript/sdk/order-processor/package-lock.json
  state_management/javascript/sdk/order-processor/package.json
  state_management/python/sdk/order-processor/requirements.txt
  tutorials/pub-sub/csharp-subscriber/csharp-subscriber.csproj
  workflows/csharp/sdk/order-processor/WorkflowConsoleApp.csproj
  workflows/javascript/sdk/package-lock.json
  workflows/javascript/sdk/package.json
Labels: enhancement, P0

#1077 fix: job sdk / go validation
  .github/workflows/validate_go_quickstarts.yaml
  jobs/go/http/README.md
  jobs/go/sdk/README.md
  jobs/go/sdk/dapr.yaml
  pub_sub/go/http/README.md
  pub_sub/go/sdk/README.md
  service_invocation/go/http/README.md
  state_management/go/http/README.md
  state_management/go/sdk/README.md
  workflows/go/sdk/README.md
Labels: bug, P1, area/jobs

#1082 Go-sdk updates for 1.14 release (v1.11.0-rc-1)
  .github/env/global.env
  bindings/go/sdk/batch/go.mod
  bindings/go/sdk/batch/go.sum
  configuration/go/sdk/order-processor/go.mod
  configuration/go/sdk/order-processor/go.sum
  cryptography/go/sdk/crypto-quickstart/go.mod
  cryptography/go/sdk/crypto-quickstart/go.sum
  jobs/go/sdk/job-scheduler/go.mod
  jobs/go/sdk/job-scheduler/go.sum
  pub_sub/go/sdk/README.md
  pub_sub/go/sdk/checkout/go.mod
  pub_sub/go/sdk/checkout/go.sum
  pub_sub/go/sdk/order-processor/go.mod
  pub_sub/go/sdk/order-processor/go.sum
  secrets_management/go/sdk/order-processor/go.mod
  secrets_management/go/sdk/order-processor/go.sum
  state_management/go/sdk/README.md
  state_management/go/sdk/order-processor/go.mod
  state_management/go/sdk/order-processor/go.sum
  workflows/go/sdk/order-processor/go.mod
  workflows/go/sdk/order-processor/go.sum
Labels: P0, language/golang

#1085 Java SDK update to 1.12.0-rc-1 & dapr 1.14 rc.7
  .github/env/global.env
  bindings/java/sdk/batch/pom.xml
  configuration/java/sdk/order-processor/pom.xml
  pub_sub/java/sdk/checkout/pom.xml
  pub_sub/java/sdk/order-processor/pom.xml
  secrets_management/java/sdk/order-processor/pom.xml
  state_management/java/sdk/order-processor/pom.xml
  workflows/java/sdk/order-processor/pom.xml
Labels: P0, language/java, build

#1039 Reworked javascript workflow examples to use a webserver
  workflows/javascript/sdk/README.md
  workflows/javascript/sdk/dapr-AppWithDaprServer.yaml
  workflows/javascript/sdk/dapr-AppWithExpressServer.yaml
  workflows/javascript/sdk/dapr.yaml
  workflows/javascript/sdk/order-processor/app.ts
  workflows/javascript/sdk/order-processor/appWithDaprServer.ts
  workflows/javascript/sdk/order-processor/appWithExpressServer.ts
  workflows/javascript/sdk/package-lock.json
  workflows/javascript/sdk/package.json
Labels: P1, language/javascript, area/workflow

#1053 InvariantCulture to fix localization
  bindings/csharp/http/batch/program.cs
  bindings/csharp/sdk/batch/program.cs
Labels: P1, area/bindings, language/csharp
